*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(75, 100, 255);
}
div{
		margin: 60px 49px 50px 49px;
		color: white;
		font-family: "Times New Roman", "Comic Sans MS", sans-serif;
		font-size: 20px;
		line-height: normal;
}

p{
	font-size: 25px;
}